.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.row-diagram {
  width:100%;
  flex: none;
}

.row-form {
  width: 100%;
  padding: 5px 10px;
}

h1 {
  text-align: center;
}


@media only screen and (min-width:950px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .row-diagram {
    width: 70%;
  }

  .row-form {
    width: 30%;
  }
}